.user {
  &__table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 2px solid #ccc;
    margin-top: 40px;
    &__action {
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;
      &__button {
        border-radius: 10px;
        padding: 10px;
        width: 100px;
        cursor: pointer;
        &__update {
          background-color: yellow;
          color: #000;
        }
        &__delete {
          background-color: red;
          color: #fff;
        }
        &__update:hover {
          background-color: rgb(187, 187, 11);
          color: #000;
        }
        &__delete:hover {
          background-color: rgb(237, 82, 82);
        }
      }
    }
    th,
    td {
      border: 1px solid #ccc;
      padding: 10px;
      text-align: left;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  }
}
