.register {
  &__title {
    margin-bottom: 1rem;
    font-size: 32px;
  }
  &__form {
    &__item {
      display: flex;
      padding-top: 10px;
      width: 100%;
      margin-bottom: 10px;
      flex-direction: column;
      align-items: center;
      justify-items: center;
    }
    &__button {
      border-radius: 10px;
      width: 55%;
      padding: 10px;
    }
  }
}
