.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  &__title {
    margin-bottom: 1rem;
    font-size: 32px;
  }
  &__form {
    width: 40%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    border-radius: 12px;
    flex-direction: column;
    gap: 10px;
    &__error {
      color: red;
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 14px;
    }
    &__item {
      display: flex;
      padding-top: 10px;
      width: 100%;
      margin-bottom: 10px;
      flex-direction: column;
      align-items: center;
      justify-items: center;
    }
    &__button {
      border-radius: 10px;
      width: 55%;
      padding: 10px;
    }
  }
}
