.login {
  &__title {
    margin-bottom: 1rem;
    font-size: 32px;
  }
  &__form {
    &__button {
      width: 55%;
      margin-bottom: 10px;
      padding: 10px;
      &__icon {
        margin-right: 5px;
        font-size: 15px;
      }
    }
  }
}
