.sidebar {
  background-color: #000;
  color: #fff;
  padding: 30px;
  width: 300px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  &__top {
    &__title {
      margin-bottom: 40px;
    }
    &__list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      &__item {
        list-style: none;
        border-radius: 10px;
        font-size: 18px;
        color: white;
        text-decoration: none;
        display: flex;
        gap: 5px;
        align-items: center;
        padding: 5px 10px;
        cursor: pointer;
        &__icon {
          font-size: 15px;
          margin-right: 5px;

          svg {
            width: 20px;
            height: 20px;
            fill: currentColor;
          }
        }
        &:hover {
          background-color: #fff;
          color: #000;
          transition: 0.5s ease;
        }
        &__active {
          background-color: #fff;
          color: #000;
        }
      }
    }
  }
  &__bottom {
    &__button {
      border-radius: 10px;
      width: 100%;
      padding: 10px;
    }
  }
}
