.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  // background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &__logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    margin-left: 15px;
  }
  &__contains {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    &__menu_list {
      display: flex;
      margin: 0px 6px;
      &__item {
        text-decoration: none;
        font-size: large;
        margin: 0px 6px;
        list-style: none;
      }
    }
    &__button {
      border: none;
      background-color: #007bff;
      color: #fff;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}
